@import "colors";
@import "shadow";
@import "border";

///////////////////////////////// ABOUT /////////////////////////////////
.about {
  grid-area     : about;
  display       : flex;
  flex-direction: column;
}

// Image
.image {
  display        : flex;
  justify-content: center;
  align-items    : center;
  padding: 10%;

  img {
    max-height: 40vh;
    width     : auto;
    border-radius: 50%;
    box-shadow: $box;
  }
}

// Quotation Marks in About Text, 1st. paragraph.
.fas {
  color: $orange-red;
}

// Orange-Red Horizontal Line between 1st and 2nd paragraph.
section article hr {
  @include hr(20%);
  margin: {
    top   : 0;
    bottom: 0.5rem;
  }
}
