@import 'colors';

///////////////////////// GRID CONTAINER /////////////////////////
.grid-container
{
    display: grid;

    @include xs //max-width: 575.9999px
    {
        grid-template-columns: 1fr;
        // grid-template-rows: 100vh repeat(3, auto) 5vh;
        // grid-template-rows: 100vh auto auto auto 5vh;
        grid-template-areas: 'header' 'about' 'kurser' 'kontakt' 'footer';
    }
    @include sm // min-width: 576px -- max-width: 767.9999px
    {
        grid-template-columns: 1fr;
        // grid-template-rows: 100vh repeat(3, auto) 5vh;
        // grid-template-rows: 100vh auto auto auto 5vh;
        grid-template-areas: 'header' 'about' 'kurser' 'kontakt' 'footer';
    }
    @include md // min-width: 768px -- max-width: 991.9999px
    {
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 100vh repeat(2, auto) 5vh;
        // grid-template-rows: 100vh auto auto 5vh;
        grid-template-areas: 'header header'
        'about kurser'
        'kontakt kontakt'
        'footer footer';
    }
    @include lg // min-width: 992px -- max-width: 1199.9999px
    {
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 100vh auto 5vh;
        grid-template-areas: 'header header header'
        'about kurser kontakt'
        'footer footer footer';
    }
    @include xl // min-width: 1200px
    {
        grid-template-columns: 1fr 1fr 1fr;
        // grid-template-rows: 100vh auto 5vh;
        grid-template-areas: 'header header header'
        'about kurser kontakt'
        'footer footer footer';
    }
    @extend %background;
}
