@import 'shadow';
@import 'border';
@import 'colors';
// @import 'media-queries';

///////////////////////////////// KONTAKT /////////////////////////////////
.kontakt-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 1rem;

    grid-area: kontakt;
    @extend %border-ridge;
    @extend %rounded-corners;
    @extend %background-card;
    @extend %box-shadow;

    .heading-container
    {
        margin: .5rem;
        padding: .5rem;

        border-radius: 5px;

        @extend %blue-linear-gradient;
        @extend %box-shadow;
        @extend %flex-center;
        // grid-area: heading;

        .heading
        {
            font-family: $bilbo-swash-caps;
            font-size: $heading-font-size;

            color: $light;
        }
    }

    .social-icons-container
    {
        justify-content: space-around;

        margin: 1rem;

        background-color: inherit;

        @extend %flex-center;
        @extend %border-inset;
        @extend %rounded-corners;
    }


    .icon
    {
        font-size: 4rem;

        margin: 1rem;

        color: rgba(9, 24, 52, .8);

        @extend %icon-shadow;
    }

    .icon:hover
    {
        text-shadow: none !important;
    }


    .text-container
    {
        flex-direction: column;

        max-height: content;

        @extend %flex-center;
        // grid-area: text;

        .inner-text-container
        {
            margin: 0 1rem 1rem 1rem;

            background-color: inherit;

            @extend %border-inset;
            @extend %rounded-corners;

            p
            {
                margin: 1rem;
            }
        }
    }
}
