header
{
    @include xs // max-width: 575.9999px
    {
        .background-image
        {
            background-image: url('../img/background-image/xs.jpg');
        }

        h1.banner
        {
            font-size: 1.5rem;
        }
    }
    @include sm // min-width: 576px and max-width: 767.9999px
    {
        .background-image
        {
            background-image: url('../img/background-image/sm.jpg');
        }

        h1.banner
        {
            font-size: 1.7rem;
        }
    }
    @include md // min-width: 768px and max-width: 991.9999px
    {
        .background-image
        {
            background-image: url('../img/background-image/md.jpg');
        }

        h1.banner
        {
            font-size: 1.9rem;
        }
    }
    @include lg // min-width: 992px and max-width: 1199.9999px
    {
        .background-image
        {
            background-image: url('../img/background-image/lg.jpg');
        }

        h1.banner
        {
            font-size: 2.1rem;
        }
    }
    @include xl // min-width: 1200px
    {
        .background-image
        {
            background-image: url('../img/background-image/xl.jpg');
        }

        h1.banner
        {
            font-size: 2.3rem;
        }
    }
}
