@import 'colors';
@import 'shadow';
@import 'border';
// @import 'media-queries';

//////////////////////////////// KURSER ////////////////////////////////
.kurser-section
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 1rem;

    grid-area: kurser;
    @extend %border-ridge;
    @extend %rounded-corners;
    @extend %background-card;
    @extend %box-shadow;

    .heading-container
    {
        max-height: content;
        margin: .5rem;
        padding: .5rem;

        @extend %rounded-corners;
        @extend %blue-linear-gradient;
        @extend %box-shadow;
        @extend %flex-center;
        // grid-area: heading;

        .heading
        {
            font-family: $bilbo-swash-caps;
            font-size: $heading-font-size;

            color: $light;
        }
    }


    .image-container.image-link
    {
        margin: 1rem;

        @extend %flex-center-col;
    }

    .image
    {
        width: 70%;
        height: auto;
        padding: 1rem;

        @extend %border-inset;
        @extend %rounded-corners;
    }

    .text-container
    {
        flex-direction: column;

        @extend %flex-center;

        .inner-text-container
        {
            overflow-y: auto;

            max-height: 50vh;
            margin: 0 1rem 1rem 1rem;

            background-color: inherit;

            @extend %border-inset;
            @extend %rounded-corners;

            p
            {
                margin: 1rem;
            }
        }
    }
}
