@import 'colors';
@import 'shadow';
@import 'border';
// @import 'media-queries';

.quotation-marks
{
    color: $orange-red;
    cursor: default;
}

///////////////////////////////// ABOUT /////////////////////////////////
.about-section
{
    // display: grid;
    display: flex;
    flex-direction: column;

    margin: 1rem;

    @extend %border-ridge;
    @extend %rounded-corners;
    @extend %background-card;
    @extend %box-shadow;
    grid-area: about;

    .heading-container
    {
        margin: .5rem;
        padding: .5rem;

        @extend %rounded-corners;
        @extend %blue-linear-gradient;
        @extend %box-shadow;
        @extend %flex-center;

        .heading
        {
            font-family: $bilbo-swash-caps;
            font-size: $heading-font-size;

            color: $light;
        }
    }

    .image-container
    {
        margin: 1rem;

        @extend %flex-center;

        .image
        {
            width: 45%;
            height: auto;

            @extend %rounded-corners;
            @extend %border-inset;
        }
    }

    .text-container
    {
        //

        .inner-text-container
        {
            overflow-y: auto;

            max-height: 50vh;
            margin: 0 1rem 1rem 1rem;

            background-color: inherit;

            @extend %border-inset;
            @extend %rounded-corners;

            p
            {
                margin: 1rem;
            }

            p:first-child
            {
                font-family: $bilbo-swash-caps;
                font-size: 1.5rem;
            }
        }
    }
}
